[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/edvaldovitor250/edvaldovitor250-algashop-billing.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/edvaldovitor250/algashop-ordering.git
	branch = master
[submodule "microservices/billing-scheduler"]
	path = microservices/billing-scheduler
	url = https://github.com/edvaldovitor250/ems-algashop-billing-scheduler.git
